.custom-label-align-small {
	margin-top: 10% !important;
}

.custom-label-align-medium {
	margin-top: 20% !important;
}

#__text12 ol, #__text13 ol {
	counter-reset: item
}
#__text12 li, #__text13 li {
	display: block
}
#__text12 li:before, #__text13 li:before {
	content: counters(item, ".") " ";
	counter-increment: item
}

#__grid0 {
    margin-bottom: -40px;
}

.custom-padding {
    padding-bottom: 0px;
}

.sapMListTblCell .sapMListTblHeaderCell {
	padding: 0px;
}

.custom-panel {
	padding-top: 20px;
}

.custom-panel-bottom .sapMPanelContent {
	border-bottom: none !important;
}

.custom-title {
 	text-decoration: underline;
	padding-top: 8%;
}

.custom-title-padding {
	padding-top: 3%;
	padding-bottom: 2%;
}

.custom-form-title {
	padding-top: 4%;
	padding-bottom: 3%;
	margin-right: 100px;
}

.custom-top-zero {
	padding-top: 0px;
}

.sapMCrslControls.sapMCrslControlsTop, .sapMCrslControlsNoArrows.sapMCrslControlsTop {
    background: none;
    border-bottom: none;
}

.custom-title-top {
	padding-top: 14px;
}

.custom-numbering {
    font-size: 50px;
}

.custom-margin-left {
	margin-left: 30px;
}

.custom-title-exlimit {
	margin-left: 30px;
	padding-top: 4%;
	padding-bottom: 3%;
	text-decoration: underline;
}

.custom-title-exlimit {
	margin-left: 30px;
	padding-top: 4%;
	padding-bottom: 3%;
	text-decoration: underline;
}

.custom-padding-zero {
	padding: 0px;
}

.sapMLabel {
	white-space: normal !important;
}

.custom-bg-form {
	background-color: white;
}